.layer-8 {
    position: absolute;
    z-index: 8;
    width: 160px;
    height: 90px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
}

.layer-8 .arbusto-izq {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: green;
    top: 10px;
    border-radius: 100%;
    transform: rotate(-20deg);
    box-shadow: 0 5px 10px rgb(0, 0, 0, 2);
    z-index: 1;
}

.layer-8 .arbusto-cent {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: green;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 100%;

    z-index: 2;
}

.layer-8 .arbusto-der {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: green;
    top: 10px;
    right: 0;
    border-radius: 100%;
    transform: rotate(30deg);
    box-shadow: 0 5px 10px rgb(0, 0, 0, 2);
    z-index: 1;
}

.layer-8 .arbusto-abajo {
    position: absolute;
    height: 90px;
    width: 100%;
    background-color: green;
    bottom: -42px;
    right: 0;
    left: 0;
    margin: 0 auto;

    z-index: 2;
}

/* -------------------------------- */

.layer-9 {
    position: absolute;
    z-index: 9;
    width: 110px;
    height: 90px;
    bottom: 0;

}

.layer-9 .arbusto-izq {
    position: absolute;
    width: 70px;
    height: 90px;
    background-color: #3CB371;
    top: 15px;
    left: -2px;
    border-radius: 100%;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 2);
    z-index: 1;
}

.layer-9 .arbusto-cent {
    position: absolute;
    width: 55px;
    height: 50px;
    background-color: #3CB371;
    bottom: 0;
    right: 15px;
    border-radius: 100%;
    transform: rotate(-20deg);
    box-shadow: 0 5px 10px rgb(0, 0, 0, 2);
    z-index: 1;
}

.layer-9 .arbusto-der {
    position: absolute;
    width: 60px;
    height: 50px;
    background-color: #3CB371;
    bottom: 0;
    left: 20px;
    margin: 0 auto;
    border-radius: 80%;
    z-index: 2;
}

/* ----------------------------------- */


.layer-10 {
    position: absolute;
    z-index: 10;
    width: 110px;
    height: 90px;
    bottom: 0;
    right: 0;

}

.layer-10 .arbusto-izq {
    position: absolute;
    width: 70px;
    height: 90px;
    background-color: #3CB371;
    top: 15px;
    right: 0;
    border-radius: 100%;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 2);
    transform: rotate(10deg);
    z-index: 1;
}

.layer-10 .arbusto-cent {
    position: absolute;
    width: 60px;
    height: 55px;
    background-color: #3CB371;
    bottom: 0;
    left: 12px;
    border-radius: 100%;
    transform: rotate(40deg);
    box-shadow: 0 5px 10px rgb(0, 0, 0, 2);
    z-index: 1;
}

.layer-10 .arbusto-der {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #3CB371;
    bottom: 0;
    right: 16px;
    margin: 0 auto;
    border-radius: 80%;
    z-index: 2;
}


