
/* muro de conejos */
.layer-3 {
    position: absolute;
    z-index: 3;
    width: 220px;
    height: 400px;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0;
    /* -------------- */
    background-color:#8B4513 ;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 2);
    overflow: hidden;
}

.layer-5 {
    position: absolute;
    z-index: 5;
    width: 190px;
    height: 290px;
    bottom: 0;
    /* ---------- */
    background-color: #8B4513 ;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 2);
    overflow: hidden;
}

.layer-7 {
    position: absolute;
    z-index: 7;
    width: 150px;
    height: 190px;
    right: 0;
    bottom: 0;
    /* --------- */
    background-color: #8B4513;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 2);
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}

/* triangulos */

.triangulos {
    width: 100%;
    height: 40px;
    background:
        linear-gradient(135deg, green 40%, transparent 25%) -50px 0,
        linear-gradient(-135deg, green 40%, transparent 25%) -50px 0;
    background-size: 30px 50px;

}



