.contenedor{ 
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));    
}
  

.fit{
    margin-top: 100px;
}
.contenedor-2{
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.item{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

h2{
    text-align: center;
}