*{
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


/* posicionamiento de la barra de navegacion */
header{
    width: 100vw;
    height: 60px;
    background-color: aqua;
}

.barra-navegacion a{
    color: black;
    cursor: pointer;
}

.barra-navegacion a:hover{
    color: yellow;
    text-decoration: underline;
}

.barra-navegacion {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

.barra-navegacion .menu-izquierdo{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-left: 15px;
    
    
}

.barra-navegacion .menu-derecho{
    width: 95%;
    height: 50px;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   gap: 20px;

}

/* img de la barra de navegacion */
.menu-derecho .menu img{
    width: 20px;
    height: 20px;
}

.menu-derecho .foto img{
    width: 25px;
    height: 25px;
    background-color: aliceblue;
    border-radius: 50%;
}

/* main-google */

.main-google{
    
}