.carrusel{
    display: flex;
    overflow-x: auto; /* Permite el desplazamiento horizontal */
    scroll-snap-type: x mandatory; /* Habilita el desplazamiento horizontal */
    gap: 15px;
    scroll-behavior: smooth; /* Desplazamiento suave */
}

.carrusel img{
    width: 600px;
    height: 400px;
    object-fit: cover; /* Ajusta la imagen al contenedor */
    scroll-snap-align: center; /* Alinea la imagen al centro del carrusel */
    border-radius: 10px;
}