input[type="checkbox"],
input[type="radio"] {
  accent-color: red; /* Cambia el color de los checkboxes y radios a rojo */
}

label:has(input:checked){
    color: red; /* Cambia el color del texto del label a rojo si contiene un checkbox */
}