/* 
1. Posicionamiento
2. Modelo de caja (Box model) 
3. Tipografia
4. Visuales
5. Otros
*/

:root {
    --bitcoin-orange: #F7931A;
    --soft--Orange: #FFE9D4;
    --secondary-Blue: #1A9AF7;
    --soft-Blue: #E7F5FF;
    --warm-Black: #201E1C;
    --black: #282623;
    --grey: #bababa;
    --off-white: #FAF8F7;
    --jus-white: #fff;
    --grey-secundary: #808080;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
}

/* fuente inter  font-family: "Inter", sans-serif; */

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}

header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

.header--title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}

.header--title-container h1 {
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--jus-white);
}

.header--title-container p {
    margin-top: 25px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--soft--Orange);
}

.header--title-container .header--button {
    position: absolute;
    left: calc(50% - 120px);
    top: 270px;
    margin-top: 35px;
    display: block;
    padding: 15px;

    width: 236px;
    height: 48px;
    background-color: var(--off-white);
    /* sombras */
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bolder;
    text-decoration: none;
    color: var(--warm-Black);
}

.header--button span {
    display: inline-block;
    margin-top: -15px;
    width: 23px;
    height: 17px;
    margin-left: 10px;
    background-image: url("./assets/icono/flecha-abajo.svg");
}

/* main---------------------- */
main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}

.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;

}

/* imagen de bitcoin--------- */
.main-exchange-container .main-imagen-bitcoin {
    width: 195px;
    height: 195px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url("./assets/img/Bitcoin.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

/* h2 main ------- */
.main-exchange-container-title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main-exchange-container h2 {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--warm-Black);
}

.main-exchange-container p {
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}


/* tabla 1 ----------  */
.main-table-container{
    display: flex;
    gap: 10px;    
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type:  proximity;
    padding: 0 30px;
}
.main-currency-table {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

.main-currency-table .currency-table--title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
}

.currency-table--container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.currency-table--container table {
    width: 100%;
    height: 100%;

}

.currency-table--container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--jus-white);
}

/* bordes de las tablas-------- */

.currency-table--container .table__top-left {
    border-radius: 15px 0 0 0;
}

.currency-table--container .table__top-rigth {
    border-radius: 0 15px 0 0;
}

.currency-table--container .table__bottom-left {
    border-radius: 0 0 0 15px;
}

.currency-table--container .table__bottom-right {
    border-radius: 0 0 15px 0;
}

.currency-table--container .table__rigth {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}

.currency-table--container .down {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('./assets/icono/trending-down.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.currency-table--container .up {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('./assets/icono/trending-up.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

/* actualizacion de los datos table */
.currency-table--date {
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft--Orange);
    border-radius: 8px;
}

.currency-table--date p {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.5rem;
    color: var(--warm-Black);
}



/* tabla 2 --------------- */
.main-currency-table .currency-table-2--title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--secondary-Blue);
}

/* actualizacion de los datos table 2 */
.currency-table-2--date {
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: #e7f5ff;
    border-radius: 8px;
}

.currency-table-2--date p {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.5rem;
    color: var(--warm-Black);
}


/* productos info--------- */
.main-product-detail {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-Black);
}


/* img batata-logo ------------- */
.product-detail-batata-logo {
    position: absolute;
    width: 40px;
    height: 24px;
    top: -10px;
    left: calc(50% - 20px);
    background-image: url('./assets/img/batata.svg');
}

.product-detail--title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.product-detail--title h2 {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--jus-white);
}

.product-detail--title p {
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8px;
    color: var(--grey-secundary);
}

/* cartas servicios------ */
.product-detail--card {
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: 152px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--black);
    border-radius: 4px;
    box-shadow: 0 4px 8px rgb(0, 0, 0.16);
}

/* img de las cards---------------*/
.product-detail--card .clock {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-bottom: 10px;
    background-image: url('./assets/icono/reloj.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* ojo --------------*/
.product-detail--card .ojo {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-bottom: 10px;
    background-image: url('./assets/icono/ojo.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* dolar ------------*/
.product-detail--card .dollar {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-bottom: 10px;
    background-image: url('./assets/icono/dollar-sign.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* check ----------*/
.product-detail--card .check {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-bottom: 10px;
    background-image: url('./assets/icono/check-circle.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* estilos de la informacion de las cards */
.prodcut--card-title {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.8rem;
    margin-bottom: 15px;
    color: var(--jus-white);
}

.prodcut--card-body {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--grey-secundary);
}

/* bitcoin donde esta la muchacha naranja--- */

.Bitcoin-img--container {
    width: 100%;
    min-width: 288px;

    height: 50vh;
    background-image: url('./assets/img/bitcoinbaby\ 1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Bitcoin-img--container h2 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    padding-top: 24px;
    color: var(--jus-white);
    text-align: center;
}

/* planes */
.main-planess-container {
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
}

.planes-card-title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 15px;
}

.planes-card-title h2 {
    padding-top: 50px;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--warm-Black);
}

.planes-card-title p {
    padding-top: 30px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #757575;
}

/* coloca las cartas horizontal ------- */
.planes-container--slider{
    display: flex;
    gap: 10px;
    height: 316px;
    padding: 0 20px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

/* cartas planes */
.planes-container--card{
    position: relative;
    scroll-snap-align: center; /* hace que las cartas se centren cuando le dan scroll*/
    width: 70%;
    min-width: 190px;
    max-width: 300px;
    height: 250px;
    margin: 50px 0 auto ;
    padding: 0 15px;
    background-color: var(--jus-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgb(87,73,30,0.16);
}


/* info de la card */
 .recomendado{
    position: absolute;
    width: 120px;
    height: 31px;
    left: calc(50% - 60px);
    top: -15px;
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    color: var(--jus-white);
    /* estilos del texto */
    font-size: 1.2rem;
    font-weight: bold;
    padding: 6px;
}

.plan-card--title{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: black;
}

.plan-card--price{
    padding: 5px 0;
    font-weight: bold;
    font-size: 5.2rem;
    font-family: "Inter", sans-serif; 
}

.plan-card--price span{
    font-weight: 500;
    font-size: 1.2rem;
    vertical-align: 25px; 
}

.plan-card--saving{
    font-size: 1.2rem;
    font-weight: 500;
     font-family: "Inter", sans-serif; 
     color: #757575;
}

.plan-card--ca{
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background-color: var(--off-white);
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    /* estilo del texto */
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--warm-Black);
}

.plan-card--ca span{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('./assets/icono/flecha-derecha.svg');
    vertical-align: text-bottom; /* centra la flecha con el texto*/
}

/* footer */
footer{
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--bitcoin-orange);
}

footer section{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
footer .left ul{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}
.left li{
    margin: 10px 0;
}
.left a{
    color: var(--jus-white);
    text-decoration: none;
}